APP_PORT=8080

# PostgreSQL
DB_DSN=host=localhost user=postgres password=secret dbname=go_fiber_db port=5432 sslmode=disable TimeZone=Asia/Jakarta

# JWT (access token)
JWT_SECRET=change_this_to_a_long_random_secret_key
JWT_EXPIRY_MINUTES=15

# Refresh token (days)
REFRESH_EXPIRY_DAYS=7

# SMTP Configuration (Production Email Service)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM=your_email@gmail.com

